/*{
  background-color: red;
    color:aliceblue;
    text-align: center;

      animation: mywork;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: linear;

  animation: 20s infinite running linear mywork;
}

@keyframes mywork{
  from{margin-left: 100%;}
  to{margin-left: 0%;}
}*/
.section-p1 {
  padding: 40px 5px;
}


h1 {
  font-size: 40px;
}

.block {
    float: left;
    width: 50%;
    text-align: center;
    padding: 0px;
     max-width: 100%;
  height: auto;
}
#navbar{
    background-color:rgb(0, 6, 3);
    color:aliceblue;
    
}


#navbar li{
    display: inline;
    padding:0 20px;
     position: relative;
}

#navbar li a {
text-decoration: none;
font-size: 16px;
font-weight: 600;
color: rgb(239, 235, 243);
transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
  color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#second-header{
    background-color:orangered;
    color:aliceblue;
    text-align: center;
}



input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('icons8-search-24.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

#intro {
  background-image: url(/pexels-nurseryart-346748.jpg);
  height: 50vh;
  width: 90%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#intro h2{
  color: rgb(220, 20, 217);
}

.a1{
 text-decoration: none;
font-size: 16px;
font-weight: 600;
color: blueviolet;
}

      .about {
        background-image: url(/pexels-timothy-paule-ii-614774-2002717.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }

      .label1 {
        text-align: left;
      }

      .accessories {
        background-image: url(/pexels-noah-erickson-97554-404280.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }
      .h2 {
        color: aqua;
      }

      .contact {
        background-image: url(/pexels-nurseryart-346748.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }

      #feature .fe-box {
        width: 180px;
        text-align: center;
        padding: 25px 15px;
        box-shadow: 20px 20px 34px rgb(101, 100, 100);
        border: 1px solid #cce7d0;
        border-radius: 4px;
        margin: 15px 0;
      }

       #feature .fe-box img{
        width: 100%;
        margin-bottom: 10px;
       }
      #feature .fe-box:hover {
        box-shadow: 10px 10px 54px rgb(70, 62, 221, 0.1);
      }

      #feature .fe-box h6 {
        padding: 9px 8px 6px 8px;
        line-height: 1;
        border-radius: 4px;
        color: #088178;
        background-color: bisque;
      }