/*{
  background-color: red;
    color:aliceblue;
    text-align: center;

      animation: mywork;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: linear;

  animation: 20s infinite running linear mywork;
}

@keyframes mywork{
  from{margin-left: 100%;}
  to{margin-left: 0%;}
}*/
h1 {
  font-size: 40px;
}

.block {
    float: left;
    width: 50%;
    text-align: center;
    padding: 0px;
     max-width: 100%;
  height: auto;
}
#navbar{
    background-color:aquamarine;
    color:aliceblue;
    padding: 0%;
    list-style: none;
}
/*#navbar{
    padding: 0;
    list-style: none;
}*/

#navbar li{
    display: inline;
    padding: 5px;
}


#second-header{
    background-color:orangered;
    color:aliceblue;
    text-align: center;
}



input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('icons8-search-24.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}
.a1{
 text-decoration-color: ghostwhite;
  background-position: center;
  background-color: black;
}
 .index {
      background-image: url(/pexels-jimmy-teoh-294331-1634278.jpg);
       background-repeat: no-repeat;
       background-attachment: fixed;
       background-size: cover;
      }
      .about {
        background-image: url(/pexels-timothy-paule-ii-614774-2002717.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }

      .label1 {
        text-align: left;
      }

      .accessories {
        background-image: url(/pexels-noah-erickson-97554-404280.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }
      .h2 {
        color: aqua;
      }