#main-header{
    background-color: red;
    color: aliceblue;
    text-align: center;
}
.block {
    float: left;
    width: 33.3%;
    text-align: center;
}
#navbar{
    background-color: aquamarine;
    color: aliceblue;
}
#navbar{
    padding: 0;
    list-style: none;
}
#navbar li{
    display: inline;
}
#second-header{
    background-color: orangered;
    color: aliceblue;
    text-align: center;
}